/* Accordion.css */

body {
  margin: 0 5% 0 0;
  background: whitesmoke;
  padding-bottom: 10%;
}
body a {
  text-decoration: none;
  color: steelblue;
  padding-left: 2%;
}
header h1 {
  color: white;
  border: 4px solid slategray;
  width: 80%;
  padding: 1%;
  margin: 5% auto;
  font-size: 38pt;
  text-align: center;
  background: -webkit-linear-gradient(left, #4752ed 0%,#f1da36 100%);
}
p#first1, p#first2, p#first3, p#first4, p#second1, p#second2, p#second3, p#second4, p#third1, p#third2, p#third3, p#third4, p#fourth1, p#fourth2, p#fourth3, p#fourth4 {
  font-size: 20pt;
  margin-top: 0;
}
section {
  width: 80%;
  margin: 0 auto;
}
section a {
  padding-left: 1%;
}
section ul {
  margin: 3% 0 2% 5%;
}
section ul li {
  padding: 0% 0 2% 0;
}
li {
  list-style-type: none;
}
h3 {
  margin: 4% 0 4% 10%;
}
h3:before {
color: steelblue;
cursor: pointer;
width: 20px;
}
h3:hover:before {
  content: "\f084"
}
li:before {
 color: steelblue;
 cursor: pointer;
}
li:after {
  display: block;
}
#first {
  display: none;
}
#second {
  display: none;
}
#third {
  display: none;
}
#fourth {
  display: none;
}
p {
  display: none;
  color: gray;
}
#open {
  display: block;
  font-size: 1.5em;
  line-height: 4ex;
}
#open li p {
  font-size: 14pt;
  line-height: 1.8pc;
}
.fa {
  display: block;
}
h4 {
  margin: 0;
}
h4 li a {
  font-weight: bold;
}
hr {
  width: 80%;
  border: 1px solid lightgray;
}

@media (max-width: 909px) {
  header h1 {
    font-size: 26pt;
  }
  .fa-3x {
    font-size: 2em;
  }
  #open {
    font-size: 1em;
  }
  #first ul p {
    font-size: 1em;
    line-height: 4ex;
  }
  #second ul p {
    font-size: 1em;
    line-height: 4ex;
  }
  #third ul p {
    font-size: 1em;
    line-height: 4ex;
  }
  #fourth ul p {
    font-size: 1em;
    line-height: 4ex;
  }
}

@media (max-width: 622px) {
  header h1 {
    font-size: 16pt;
  }
  .fa-3x {
    font-size: 1.4em;
  }
}

@media (max-width: 382px) {
  header h1 {
    font-size: 12pt;
  }
  .fa-3x {
    font-size: 1em;
  }
  #open {
    font-size: .8em;
  }
  #first ul p {
    font-size: .8em;
    line-height: 2ex;
  }
  #second ul p {
    font-size: .8em;
    line-height: 2ex;
  }
  #third ul p {
    font-size: .8em;
    line-height: 2ex;
  }
  #fourth ul p {
    font-size: .8em;
    line-height: 2ex;
  }
}

@media (max-width: 286px) {
  header h1 {
    font-size: 8pt;
  }
  .fa-3x {
    font-size: .5em;
  }
  #open {
    font-size: .5em;
  }
   #first ul p {
  font-size: .5em;
  line-height: 2ex;
}
#second ul p {
  font-size: .5em;
  line-height: 2ex;
}
#third ul p {
  font-size: .5em;
  line-height: 2ex;
}
#fourth ul p {
  font-size: .5em;
  line-height: 2ex;
}
}
