/* Horizontal.css */

body {
  list-style-type: none;
  margin: 0 0;
  width: 100%;
  }
header {
  background: #fff;
  width: 100%;
  height: 180pt;
}
header h1 {
  color: forestgreen;
  width: 85%;
  font-size: 41pt;
  -webkit-text-stroke: 1px white;
  font-family: sans-serif;
  padding: 2%;
  margin: auto;
  text-align: center;
}
a {
  text-decoration: none;
  color: forestgreen;
}
nav {
  margin: 1em 0 1em 0;
  border-bottom: 4px solid forestgreen;
}
nav li {
    display: inline;
    background-color: #fff;
    margin: 0;
  }
nav li a {
   padding: 1em 2em;
   font-family: sans-serif;
   font-size: 12pt;
}
section {
 background: lightgray;
 margin-top: 0.85em;
 width: 100%;
}
section ul {
 list-style-type: none;
 font size: 15pt;
}
section ul li a {
 font-size: 15pt;
}
#column1 {
 width: 12em;
 margin-left: 4em;
}
#column3 {
 width: 12em;
}
#column2 {
 width: 12em;
 margin: .85em 2em 0 5em;
}
#products {
 font-size: 20pt;
 font-family: sans-serif;
 line-height: 26.5pt;
 width: 100%;
 display: none;
 margin-top: -0.76em;
}
#downloads {
 font-size: 20pt;
 font-family: sans-serif;
 line-height: 26.5pt;
 width: 100%;
 display: none;
 margin-top: -0.76em;
}
#apps {
 font-size: 20pt;
 font-family: sans-serif;
 line-height: 26.5pt;
 width: 100%;
 display: none;
 margin-top: -0.76em;
}
#projects {
 font-size: 20pt;
 font-family: sans-serif;
 line-height: 26.5pt;
 width: 100%;
 display: none;
 margin-top: -0.76em;
}
#free {
 font-size: 20pt;
 font-family: sans-serif;
 line-height: 26.5pt;
 width: 100%;
 display: none;
 margin-top: -0.76em;
}
@media (max-width: 1215px) {
  header h1 {
    font-size: 32pt;
  }
   #column1 {
   width: 9em;
   margin-left: 4em;
  }
  #column3 {
   width: 9em;
  }
  #column2 {
   width: 9em;
   margin: .85em 2em 0 2em;
  }
}
@media (max-width: 937px) {
  header h1 {
    font-size: 26pt;
    padding: 4%;
  }
  #column1 {
  width: 6em;
  margin-left: 4em;
 }
 #column3 {
  width: 6em;
 }
 #column2 {
  width: 6em;
  margin: .85em 2em 0 2em;
 }
}
@media (max-width: 761px) {
  header h1 {
    font-size: 18pt;
  }
  #column1 {
    margin-left: 1em;
  }
  nav li a {
    font-size: 10pt;
    padding: 1.3em 2em;
  }
  ul h4 a {
    font-size: 15pt;
  }
  section ul li a {
    font-size: 12pt;
  }
}
@media (max-width: 635px) {
  header h1 {
    font-size: 18pt;
  }
  #column1 {
  width: 5em;
  margin-left: 1em;
 }
 #column3 {
  width: 5em;
 }
 #column2 {
  width: 5em;
  margin: .85em 1em 0 1em;
 }
  nav li a {
    font-size: 8pt;
    padding: 1.65em 2em;
  }
  ul h4 a {
    font-size: 12pt;
  }
  section ul li a {
    font-size: 9pt;
  }
  section {
    line-height: 14.5pt;
  }
}
@media (max-width: 527px) {
  nav ul li {
    display: block;
    margin: 1em auto;
    border-bottom: 1px solid forestgreen;
    padding-bottom: 1em;
  }
  nav {
    border-bottom: none;
  }
  nav ul {
    padding-left: 0;
  }
  header {
    height: 100pt;
  }
  section {
    display: block;
  }
}
