<!doctype html>
<html ng-app="fireApp">
  <head>
    <script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.17/angular.min.js'></script>
    <script src='https://cdn.firebase.com/js/client/1.1.1/firebase.js'></script>
    <script src='https://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js'></script>
    <script src="scripts/app.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel='stylesheet' href='styles.css'/>
    <title>It's on FIRE!!!</title>
  </head>
  <body ng-controller="FireController">
    <!-- CHAT MARKUP -->
    <div class='container'>
      <header><h1>Fire App<br><small>It's on FIRE!!!</small></h1></header>

      <div class='chat'>
        <label for='username'>Who Are You?!</label><br>
        <input ng-model='name' type='text' id='username' placeholder='Did You Forget Your Name'><br>
        <label for='username'>And What Do You Want?</label><br>
        <input ng-model='chats'  type='text' id='messageBody'  placeholder='Words Go Here'><br>
        <button ng-click="newMessage()">What UP!</button>
      </div>

      <ul id='messages' class='chat-messages'>
        <li ng-repeat='chats in messages' class="userChats">
          <strong class='chat-username'>{{chats.from}}</strong>
          {{chats.body}}
        </li>
      </ul>
    </div>

  </body>
</html>
