/* Mobile First Timeline Css */

  body {
  margin: 0;
}
  li {
    background: skyblue;
    border-radius: 8pt;
    position: relative;
  }
  #container {
  width: 80%;
  margin: auto;
}

#container ol {
  margin-top: 15ex;
}

.timeline {
  padding-left: 0;
  margin-left: 0;
}

.timeline > li time {
    position: static;
    float: left;
    padding-bottom: .5em;
    margin: -4em -2em;
    display: block;
    width: 1em;
}

.timeline > li article {
    clear: both;
    padding: 1em 2em;
}

.timeline > li time small {
  text-align: left;
  color: lightgray;
}

.timeline > li time big {
  text-align: left;
  color: blue;
}

 .timeline > li:nth-child(even) article {
    background-color: rgb(52, 148, 203); /*dark blue*/
    border-radius: 8pt;
}
.timeline > li:nth-child(even) article:after {
    color: rgb(52, 148, 203); /*dark blue*/
}

#container ol li {
  margin-bottom: 10ex;
  list-style-type: none;
  background-color: skyblue;
  padding-left: 0;
}
h3 {
  border-bottom: 2px solid whitesmoke;
  margin-top: 0;
  padding: 2ex 0 2ex 2em;
}
.timeline li article p {
  padding-bottom: 0;
  margin-bottom: 0;
}

.timeline > li article:after {
    content: "\25B2";
    position: absolute;
    color: skyblue;
    right: 100%;
    top: 0;
    margin: -.8em -1.8em;
}
